include _nav.jade
header.site-header.center-xs
    h1 #{me.name}
    h3 #{me.bio}
    .social
        a(href="https://twitter.com/#{social.twitter}")
            svg.icon.icon-twitter
                use(xlink:href="#icon-twitter")
        a(href="https://github.com/#{social.github}")
            svg.icon.icon-github
                use(xlink:href="#icon-github")
        a(href="https://es.linkedin.com/in/#{social.linkedin}")
            svg.icon.icon-linkedin
                use(xlink:href="#icon-linkedin")
