title #{site.title}
meta(name="description", content="#{site.description}")
meta(name="author", content="#{me.name}")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="twitter:card", content="summary")
meta(name="twitter:description", content="#{site.description}")
meta(property="og:image", content="http://carloscuesta.me/#{me.avatar}")
meta(name="twitter:image:src", content="http://carloscuesta.me/#{me.avatar}")
meta(name="twitter:creator", content="@crloscuesta")
meta(name="twitter:url", content="http://carloscuesta.me")
meta(name="twitter:title", content="Carlos Cuesta")
link(rel="canonical", href="http://carloscuesta.me")
//-link(rel="stylesheet", type="text/css", href="style.css")
style
    include ../../styles/css/style.css
script
    include ../../assets/js/fonts.js

