<div class="wrap">
	{{#foreach posts}}
		<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="col-xs-12 {{post_class}} post">
		    <header class="row">
		    	<div class="col-xs-12">
		        	<h2 itemprop="name headline" class="post-title preview">
		        		<a itemprop="url" href="{{url}}">{{{title}}}</a>
		        	</h2>
		        </div>
		        <div class="col-xs-12 post-info">
		        	<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date published_at timeago="true"}}</time>
		        	<span class="tags">
		        		{{#foreach tags}}
        					<a href="{{url}}" title="{{name}}" class="tag-{{name}}">{{name}}</a>
    					{{/foreach}}
    				</span>
		        	<span itemprop="author" itemscope itemtype="http://schema.org/Person" class="author">
		        	<span itemprop="name">{{author}}</span></span>
		        </div>
		    </header>
		    <section itemprop="description" class="post-excerpt">
		        <p>{{excerpt words="30"}} ...
		    	<a class="read-more" href="{{url}}"> Read more &raquo;</a></p>
		    </section>
		</article>
	{{/foreach}}
	<nav class="pagination col-xs-12 center-xs" role="navigation">
		{{pagination}}
	</nav>
</div>
