section.experience
    .wrap
        h2.section-title Education
        h4.section-subtitle Studies
        each grade in me.education
            article.row
                .col-xs-2.duration.grade-duration
                    h2=grade.dates.time
                .col-xs-10.job-card
                    .job
                        h2.company-name=grade.title
                        .row.roles
                            h4.cv-position-title=grade.school
                            .dates
                                time.start(datetime=grade.dates.start)=grade.dates.start+' - '
                                time.end(datetime=grade.dates.finish)=grade.dates.finish
                        ul
                            each task in grade.tasks
                                li=task
