section.ghost
    .wrap
        .row
            .col-xs-12
                h3 I write posts on my #[a(href='/blog') blog].
            -each post in ghostData.posts
                article.post.col-xs-12.col-sm-6
                    a.title(href="/blog#{post.url}") #{post.title}
                    span.tags
                        -each tag in post.tags
                            a(href="/blog/tag/#{tag.name}") #{tag.name}
                    time(datetime="#{post.published_at}") #{post.published_at}
