section.ghost
    .wrap
        .row
            .col-xs-12.title
                h1 I write posts on my #[a(href='/blog') blog].
        .row
            -each post in ghostData.posts
                article.post.col-xs-12.col-sm-6
                    .row.middle-xs
                        header.col-xs-12
                            h2.post-title
                                a(href="/blog#{post.url}") #{post.title}
                        .col-xs-12.post-info
                            time(datetime="#{post.published_at}") #{post.published_at}
                            span.tags
                                -each tag in post.tags
                                    a(class="#{tag.name}", href="/blog/tag/#{tag.name}") #{tag.name}
                    p #{post.html}
                    a.read-more(href="/blog#{post.url}") Read more
