section.github
    .wrap
        .row
            .col-xs-12.col-sm-8.col-md-9.title
                h1 I'm #[a(href='https://github.com/carloscuesta') @carloscuesta] on github.
            .col-xs-12.col-sm-4.col-md-3.end-sm.follow-me
                a(href="https://github.com/carloscuesta", target="_blank").follow-btn
                    span.github.end-xs
                        svg.icon.icon-github
                            use(xlink:href="#icon-github")
                        span Follow @carloscuesta
            -each github in githubData.items
                article.repo.col-xs-12.col-sm-6.col-md-4
                    .row
                        .col-xs
                            a(href=github.html_url): h4.github-title= github.name
                        .col-xs.end-xs
                            if github.language
                                span.tags
                                    a(href="#", class="#{github.language}") #{github.language}
                        //-.github-btns
                            a(href=github.html_url).btn.btn-repo Repo
                            a(href=github.homepage).btn.btn-demo Demo
                    div
                        svg.icon.icon-star
                            use(xlink:href="#icon-star")
                        span #{github.stargazers_count}
                        svg.icon.icon-fork
                            use(xlink:href="#icon-fork")
                        span #{github.forks}
                    .row
                        div.col-xs-12.description= github.description
