section.github
    .wrap
        h2 GitHub
        .row.around-xs
            -each github in githubData.items
                article(class="github-repo col-xs-12 col-sm-6 col-md-4")
                    div(class="repo language-#{github.language}")
                        a(href=github.html_url, onmousedown="ga('send', 'event', 'GitHub', '#{github.name}');", target="_blank"): h4.github-title= github.name
                        div
                            svg.icon.icon-star
                                use(xlink:href="#icon-star")
                            span #{github.stargazers_count}
                            svg.icon.icon-fork
                                use(xlink:href="#icon-fork")
                            span #{github.forks}
                        .description= github.description
            a.btn.btn-large.btn-blue(href="#")
                svg.icon.icon-github
                        use(xlink:href="#icon-github")
                | Follow @carloscuesta
