section.twitter
    .wrap
        .row
            .col-xs-12.col-sm-8.col-md-9.title
                h1 I'm #[a(href='https://twitter.com/crloscuesta', onmousedown="ga('send', 'event', 'Link', 'Twitter Name');",target="_blank") @crloscuesta] on twitter.
            .col-xs-12.col-sm-4.col-md-3.end-sm.follow-me
                a(href="https://twitter.com/intent/follow?screen_name=crloscuesta", onmousedown="ga('send', 'event', 'Button', 'Twitter Follow');", target="_blank").follow-btn
                    span.twitter.end-xs
                        svg.icon.icon-twitter
                            use(xlink:href="#icon-twitter")
                        span Follow @crloscuesta
            -each tweet in twitterData
                article.tweet.col-xs-12.col-sm-6
                    h5 !{tweet.text}
                    div
                        a(href="https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}")
                            svg.icon.icon-retweet
                                use(xlink:href="#icon-retweet")
                            span #{tweet.retweet_count}
                        a(href="https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}")
                            svg.icon.icon-heart
                                use(xlink:href="#icon-heart")
                            span #{tweet.favorite_count}
