section.twitter
    .wrap
        h2.section-title Twitter
        h4.section-subtitle The latests tweets of my timeline.
        .row
            ul
                -each tweet in twitterData
                    li
                        article.tweet.col-xs-12
                            h4 #{tweet.user.name} -
                                span.handle 
                                    a(href="https://twitter.com/#{tweet.user.screen_name}") @#{tweet.user.screen_name}
                            h5 !{tweet.text_parsed}
                            if tweet.image
                                a(href="#{tweet.image}")
                                    img.tweet-img(src="#{tweet.image}:thumb")
                            .tweet-actions
                                a(href="https://twitter.com/intent/tweet?in_reply_to=#{tweet.id_str}", onmousedown="ga('send', 'event', 'Twitter', 'Click', 'Reply');", target="_blank")
                                    svg.icon.icon-reply
                                        use(xlink:href="#icon-reply")
                                a(href="https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}", onmousedown="ga('send', 'event', 'Twitter', 'Click', 'Retweet');", target="_blank")
                                    svg.icon.icon-retweet
                                        use(xlink:href="#icon-retweet")
                                    span.rts #{tweet.retweet_count}
                                a(href="https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}", onmousedown="ga('send', 'event', 'Twitter', 'Click', 'Favorite');", target="_blank")
                                    svg.icon.icon-heart
                                        use(xlink:href="#icon-heart")
                                    span.likes #{tweet.favorite_count}
        .more-btn
            a.btn.btn-large.btn-blue(href="https://twitter.com/intent/follow?screen_name=#{social.twitter}", onmousedown="ga('send', 'event', 'Social', 'Follow Twitter');", target="_blank")
                svg.icon.icon-github
                        use(xlink:href="#icon-twitter")
                | Follow @#{social.twitter}
