section.twitter
    .wrap
        h2 Twitter
        .row
            -each tweet in twitterData
                article.tweet.col-xs-12
                    h4 #{tweet.user.name} - @#{tweet.user.screen_name}
                    h5 !{tweet.text_parsed}
                    if tweet.image
                        img(src="#{tweet.image}")
                    .tweet-actions
                        a(href="https://twitter.com/intent/tweet?in_reply_to=#{tweet.id_str}")
                            svg.icon.icon-reply
                                use(xlink:href="#icon-reply")
                        a(href="https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}")
                            svg.icon.icon-retweet
                                use(xlink:href="#icon-retweet")
                            span #{tweet.retweet_count}
                        a(href="https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}")
                            svg.icon.icon-heart
                                use(xlink:href="#icon-heart")
                            span #{tweet.favorite_count}
