{{!< default}}

<header class="row middle-xs center-xs main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <!--<nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    </nav>-->
    <div class="header-info">
        <h1 class="page-title col-xs-12">{{@blog.title}}</h1>
        <h2 class="page-description col-xs-12">{{@blog.description}}</h2>
    </div>
</header>

<main id="content" class="content" role="main">
    {{> "loop"}}
</main>
