{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{/if}}">
    <div class="wrap-big">
        <!--{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}-->
        <h1 class="page-title">{{@blog.title}}</h1>
        <h2 class="page-description">{{@blog.description}}</h2>
    </div>
</header>

<main id="content" class="content" role="main">
    {{> "loop"}}
</main>
<!--
<section class="newsletter">
    <div class="wrap-big">
    <form style="display:flex; align-items: center; justify-content: space-between;" action="https://carloscuesta.us12.list-manage.com/subscribe/post?u=030a846a94f95a48db5b8eaa2&amp;id=454e4abeff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h3 class="newsletter-message">Subscribe to my newsletter!</h3>
        <input type="email" value="" name="EMAIL" class="email-input" id="mce-EMAIL" placeholder="your@email.com" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_030a846a94f95a48db5b8eaa2_454e4abeff" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-red submit-input">
    </form>
</div>
</section>
-->
