{{!< default}}

{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <!--{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}-->
    </nav>
</header>
<div class="wrap">
<main class="content" role="main">
    <article class="{{post_class}}">
        <header class="post-header row">
            <h1 class="post-title col-xs-12">{{title}}</h1>
            <section class="post-meta col-xs-12">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                	{{date format="DD MMMM YYYY"}}
                </time>{{#if tags}}
                	<span class="tags">
		        		{{#foreach tags}}
        					<a href="{{url}}" title="{{name}}" class="tag-{{name}}">{{name}}</a>
    					{{/foreach}}
    				</span>{{/if}}
    				<a class="post-comments" href="{{url}}#disqus_thread">Comments</a>
            </section>
        </header>

        <section class="post-content row col-xs-12">
            {{content}}
        </section>
    </article>
</main>

</div>

{{/post}}
