{{!< default}}

{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <!--{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}-->
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>
<div class="wrap">
<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header row">
            <h1 class="post-title col-xs-12">{{title}}</h1>
            <section class="post-meta col-xs-12">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                	{{date format="DD MMMM YYYY"}}
                </time>{{#if tags}}
                	<span class="tags">
		        		{{#foreach tags}}
        					<a href="{{url}}" title="{{name}}" class="tag-{{name}}">{{name}}</a>
    					{{/foreach}}
    				</span>{{/if}}
    				<a class="post-comments" href="{{url}}#disqus_thread">Comments</a>
            </section>
        </header>

        <section class="post-content row col-xs-12">
            {{content}}
        </section>

        <footer class="post-footer row">

        {{#author}}

            <section class="author col-xs-12 col-sm-8">
                <h3><a href="{{url}}">{{name}}</a></h3>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
            </section>

        {{/author}}

            <section class="share col-xs-12 col-sm-4 center-sm">
                <h3>Share this post</h3>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}+by+@crloscuesta&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <svg class="icon icon-twitter">
	                	<use xlink:href="#icon-twitter"></use>
	            	</svg>
                    <span class="hidden">Twitter</span>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;title={{encode title}}&amp;url={{url absolute="true"}}&amp;source=http://carloscuesta.me"
                   onclick="window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
                   <svg class="icon icon-linkedin">
	                	<use xlink:href="#icon-linkedin"></use>
	            	</svg>
                    <span class="hidden">LinkedIn</span>
                </a>
            </section>

        </footer>
    	<div id="disqus_thread" class="disqus-comments col-xs-12"></div>
    </article>
</main>

</div>
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story next center-xs" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev center-xs" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

<script type="text/javascript">var disqus_shortname="carloscuesta",disqus_identifier="{{post.id}}";(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/post}}
