{{!< default}}
<style>code[class*="language-"],pre[class*="language-"] {color: black;text-shadow: 0 1px white;font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;direction: ltr;text-align: left;white-space: pre;word-spacing: normal;word-break: normal;word-wrap: normal;line-height: 1.5;-moz-tab-size: 4;-o-tab-size: 4;tab-size: 4;-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens: none;hyphens: none;}pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {text-shadow: none;background: #b3d4fc;}pre[class*="language-"]::selection, pre[class*="language-"] ::selection,code[class*="language-"]::selection, code[class*="language-"] ::selection {text-shadow: none;background: #b3d4fc;}@media print {code[class*="language-"],pre[class*="language-"] {text-shadow: none;}}pre[class*="language-"] {padding: 1em;margin: .5em 0;overflow: auto;}:not(pre) > code[class*="language-"],pre[class*="language-"] {background: #f5f5f5;}:not(pre) > code[class*="language-"] {padding: .1em;border-radius: .3em;white-space: normal;}.token.comment,.token.prolog,.token.doctype,.token.cdata {color: slategray;}.token.punctuation {color: #999;}.namespace {opacity: .7;}.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol,.token.deleted {color: #905;}.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted {color: #690;}.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string {color: #a67f59;background: hsla(0, 0%, 100%, .5);}.token.atrule,.token.attr-value,.token.keyword {color: #07a;}.token.function {color: #DD4A68;}.token.regex,.token.important,.token.variable {color: #e90;}.token.important,.token.bold {font-weight: bold;}.token.italic {font-style: italic;.token.entity {cursor: help;}</style>
{{#post}}

<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="{{post_class}}">

<header itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="main-header post-head{{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
	{{#if image}}
	<meta itemprop="url" content="{{image}}">
	<meta itemprop="width" content="3000">
  	<meta itemprop="height" content="1350">
	{{/if}}
</header>
<div class="wrap article-card">
	<main class="content" role="main">

        <header class="post-header row">
        	<a itemprop="mainEntityOfPage" href="{{url absolute="true"}}">
            	<h1 itemprop="name headline" class="post-title col-xs-12">{{title}}</h1>
            </a>
            <section class="post-meta col-xs-12">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">
                	{{date format="DD MMMM YYYY"}}
                </time>
                <meta itemprop="dateModified" content="{{updated_at}}"/>{{#if tags}}
                	<span class="tags">
		        		{{#foreach tags}}
        					<a href="{{url}}" title="{{name}}" class="tag-{{name}}" onmousedown="ga('send', 'event', 'Blog', 'Post - tag-{{name}}');">{{name}}</a>
    					{{/foreach}}
    				</span>{{/if}}
    				<a class="post-comments" href="{{url}}#disqus_thread" onmousedown="ga('send', 'event', 'Blog', 'Post - Comments');">Comments</a>
            </section>
        </header>

        <section itemprop="articleBody" class="post-content row col-xs-12">
            {{content}}
        </section>

        <footer class="post-footer row">

        {{#author}}

            <section class="author col-xs-12 col-sm-8" itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-footer row">
            	<div class="row top-xs">
                	{{#if bio}}
            			{{#if image}}
	    	    			<figure class="col-xs-3 center-xs">
	    	    			    <img itemprop="image" src="{{image}}" class="author-img-post" alt="{{name}}">
	    	    			</figure>
    	    			{{/if}}
    	    			<div class="col-xs-12 col-sm-9">
    	    			    <h3 itemprop="name" class="author-name col-xs-12"><a href="{{url}}" onmousedown="ga('send', 'event', 'Blog', 'Post - Author Name');">{{name}}</a></h3>
                	    	<p itemprop="description" class="col-xs-12 col-sm-10">{{bio}}</p>
                	    </div>
                	{{else}}
                	    <p>Read <a href="{{url}}" onmousedown="ga('send', 'event', 'Blog', 'Post - Read More');">more posts</a> by this author.</p>
                	{{/if}}
                </div>
            </section>

            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  				<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="{{image}}">
  				  	<meta itemprop="width" content="450">
  				  	<meta itemprop="height" content="450">
  				</div>
  				<meta itemprop="name" content="{{name}}">
  			</div>

        {{/author}}

            <section class="share col-xs-12 col-sm-4 center-sm">
                <h3>Share this post</h3>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}+by+@crloscuesta&amp;url={{url absolute="true"}}"
                    onmousedown="ga('send', 'event', 'Blog', 'Post - Share Twitter');window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <svg class="icon icon-twitter">
	                	<use xlink:href="#icon-twitter"></use>
	            	</svg>
                    <span class="hidden">Twitter</span>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;title={{encode title}}&amp;url=	{url absolute="true"}&amp;source=http://carloscuesta.me"
                   onmousedown="ga('send', 'event', 'Blog', 'Post - Share LinkedIn');window.open(this.href, 'linkedin-share', 'width=490,height=530');return false;">
                   <svg class="icon icon-linkedin">
	                	<use xlink:href="#icon-linkedin"></use>
	            	</svg>
                    <span class="hidden">LinkedIn</span>
                </a>
            </section>

        </footer>
    	<div itemprop="comment" id="disqus_thread" class="disqus-comments col-xs-12"></div>
	</main>
</article>

</div>
<aside class="read-next">
    {{#next_post}}
    <a rel="next" class="read-next-story next center-xs" href="{{url}}" onmousedown="ga('send', 'event', 'Blog', 'Post - Read Next');">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a rel="prev" class="read-next-story prev center-xs" href="{{url}}" onmousedown="ga('send', 'event', 'Blog', 'Post - Read Previous');">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

<script type="text/javascript">var disqus_shortname="carloscuesta",disqus_identifier="{{post.id}}";(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="//"+disqus_shortname+".disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{/post}}
